/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "960/text";
@include text;

@import "960/grid";
//@import "zen";

@import "compass_twitter_bootstrap";


.container_24 {
  $ninesixty-grid-width: 992px;
  $ninesixty-columns: 24;
  $ninesixty-gutter-width: 0px;
  @include grid-system(24);
}

.container_16 {
  $ninesixty-grid-width: 656px;
  $ninesixty-columns: 16;
  $ninesixty-gutter-width: 0px;
  @include grid-system(16);
}

table {
  $ninesixty-grid-width: 740px;
  $ninesixty-columns: 12;
  $ninesixty-gutter-width: 0px;
  //+grid-system(24)
  //@include grid-system(24);
  @extend .container_24;
}

td {
  @extend .grids_2;
}

