/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass_twitter_bootstrap_responsive";
//@import "compass/reset";
//@import "compass-bootstrap/compass_bootstrap";
//@import "960/text";
//@include text;
@import "960/grid";

//@import "zen";

//@import "zen/background";

//@import 'blueprint';

.container_24 {
  $ninesixty-grid-width: 992px;
  //$ninesixty-grid-width: 640px;
  $ninesixty-columns: 24;
  $ninesixty-gutter-width: 0px;
  @include grid-system(24);
}


td, th {
  @extend .grid_3;
}

// Place all the styles related to the ServerEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {*/
/*padding: 0;*/
/*}*/

.wrapper {
  margin: 0 auto;
  @extend .container_24;
}

.static {
  z-index: 2;
  position: fixed;
  @extend .container_24;
}

.header {
  background-color: Silver;
  opacity: 0.8;
  @extend .grid_24;

}

.menu {
  background-color: #edf9bf;
  position: relative;
  opacity: 0.8;
  @extend .grid_18;

  .pagination { margin: 0; };

}

.content {
  background-color: Orange;
  float: left;
  position: relative;
  top: 150px;
  @extend .container_24;

}

//
//.lastinline, form, table, h1, h2, h3, h4 {
//  margin-left: 8px !important;
//  margin-top: 8px !important;
//}

//html, body {
//  zoom: 150%;
//}
